<div class="row">
  <div class="h2 col-md-12">Leagues</div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>League URL</th>
          <th>Last active</th>
        </tr>
      </thead>
      <% @leagues.each do |l| %>
        <tr>
          <td><%= truncate(l.name, length: 45) %></td>
          <td><%= link_to truncate("#{l.url}", length: 45), l.url%></td>
          <td><%= l.last_active.strftime("%m/%d/%Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
