<div class="row">
  <div class="h2 col-md-12">Leagues</div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>League URL</th>
        </tr>
      </thead>
      <% @leagues.each do |l| %>
        <tr>
          <td><%= l.name %></td>
          <td><%= link_to "#{l.url}", l.url%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
