
<div class="row">
  <div class="h2 col-md-12">My recent games</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Match ID</th>
            <th>Start time</th>
            <th>Lobby type</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
          <tr>
            <td><%= link_to match[:match_id], match_path(match[:match_id]) %></td>
            <td><%= match[:start_time] %></td>
            <td><%= match[:lobby_type] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

