@import "_variables.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "bootstrap.min.css";
@import "forms.scss";
@import "navbar.scss";
@import "headers.scss";
@import "tables.scss";